#side-menu {
	position: absolute;
	top: 72px;
	left: 16px;
	width: 675px;
	padding: 65px 60px;
}

#side-menu .form-box {
	margin: 20px 0;
}

#side-menu .form-field {
	display: flex;
	gap: 30px;
}

#side-menu .form-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.4rem;
	background-color: var(--c-primary);
	color: var(--c-font-negative);
	border-radius: 50%;
	flex: 0 0 45px;
	height: 45px;
	box-sizing: border-box;
}

#side-menu input {
	display: block;
	border-radius: 30px;
}